<%= @c ="" %><%= @p ="" %><%= @u ="" %><%= @cp ="" %>
<% @contact_all.each do |a| %><% @c += '"'+a.company_name+'":"'+a.id.to_s+'",' %><%end%>
<% @contact_project.each do |a| %><% @cp += '"'+a.company_name+'":"'+a.id.to_s+'",' %><%end%>
<% @pro.each do |a| %><% @p += '"'+a.name+'":"'+a.id.to_s+'",' %><%end%>
<% @users.each do |a| %><% @u += '"'+a.firstname+' '+a.lastname+'":"'+a.id.to_s+'",' %><%end%>
<% content_for :header_tags do %>
    <%= stylesheet_link_tag 'budget.css', :plugin => 'budget' %>
    <%= javascript_include_tag 'js.js', :plugin => 'budget' %>
<script>
$(function () { 
 	$('#period_box').hide();
        var c = {<%= @c.html_safe %>};
        var p = {<%= @p.html_safe %>};
        var u = {<%= @u.html_safe %>};
	$('#transaction_from_type').change(function(){
		var $el = $("#transaction_from_id");
		if($('#transaction_from_type').val() == 0){
			$el.empty();
			$.each(c, function(key, value) {
 			 $el.append($("<option></option>")
     			.attr("value", value).text(key));
			});
		}
		if($('#transaction_from_type').val() == 1){
			$el.empty();
			$.each(p, function(key, value) {
 			 $el.append($("<option></option>")
     			.attr("value", value).text(key));
			});
		}
		if($('#transaction_from_type').val() == 2){
			$el.empty();
			$.each(u, function(key, value) {
 			 $el.append($("<option></option>")
     			.attr("value", value).text(key));
			});
		}
	});
	$('#period_check').click(function(){
		if ($('#period_check').attr('checked')){
			$('#period_box').show();
		}else{
			$('#period_box').hide();
		}
	});
});
</script>
<% end %>
<%= form_for @trans, :url => transaction_index_path() do |f| %>
  <% if @trans.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@trans.errors.count, "error") %> prohibited this expense from being saved:</h2>

      <ul>
      <% @trans.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  <% if(:_method == "put") %>
  <%= f.hidden_field :project_id, :value => params[:id] %>
  <% end %>
<div class="box tabular">
    <div id="all_attributes">
	<div id="attributes" class="attributes">
		<div id="company" class="splitcontent">
 			<div class="splitcontentleft">
  <p>
    <%= f.radio_button(:plan, 0) %><%= l(:transaction_plan) %><%= f.radio_button(:plan, 1) %><%= l(:transaction_real) %>
  </p>
  <p>
    <%= f.label :typ,l(:transaction_typ) %>
    <% t = [[''], ['Income', 0], ['Expense', 1]] %>
    <%= f.select :typ,t %>
  </p>
  <p>
    <%= f.label :version_id,l(:transaction_version) %>
    <%= f.select(:version_id,@versions.collect {|a| [a.name, a.id]},{:include_blank => true}) %>
  </p>
  <p>
    <%= f.label :category_id,l(:transaction_category) %>
    <%= f.select(:category_id,@categories.collect {|a| [a.name, a.id]},{:include_blank => true}) %>
  </p>
  <p>
    <%= f.label :name,l(:transaction_name) %>
    <%= f.text_field :name %>
  </p>
  <p>
    <%= f.label :description,l(:transaction_description) %>
    <%= f.text_area :description, :rows => "10" %>
  </p>
  <p>
    <%= f.label :amount,l(:transaction_amount) %>
    <%= f.text_field :amount %>
  </p>
 			</div>
			<div class="splitcontentright">
  <p>
    <%= f.label :issuance_date,l(:transaction_issuance_date) %>
    <%= f.text_field :issuance_date %><%= calendar_for('transaction_issuance_date') %>
  </p>
  <p>
    <%= f.label :due_to,l(:transaction_due_to) %>
    <%= f.text_field :due_to %><%= calendar_for('transaction_due_to') %>
  </p>
  <p>
    <%= f.label :paid_on,l(:transaction_paid_on) %>
    <%= f.text_field :paid_on %><%= calendar_for('transaction_paid_on') %>
  </p>
  <p>
    <%= f.label :from_type,l(:transaction_from_type) %>
    <%= f.select :from_type, options_for_select([['Contact', 0], ['Project',1], ['User',2]]) %>
  </p>
  <p>
    <%= f.label :from_id,l(:transaction_from) %><%unless @contact_project.nil? %>
    <%= f.select :from_id,grouped_options_for_select(grouped_options = [['this project', @contact_project.collect {|a| [a.company_name, a.id]}],['all', @contact_all.collect {|a| [a.company_name, a.id]}]]),{:include_blank => true} %><%end%>
  </p>
  <p>
    <%= label_tag l(:transaction_period) %>
    <%= check_box_tag :period_check %>
  </p>
<div id="period_box">
  <p>
    <%= f.label :period,l(:transaction_period) %>
    <%= f.select :period, options_for_select([['Weakly', 0], ['Monthly',1]]),{:include_blank => true} %>
  </p>
  <p>
    <%= f.label :period_end ,l(:transaction_period_end)%>
    <%= f.text_field :period_end %><%= calendar_for('transaction_period_end') %>
  </p>
</div>
			</div>


		</div>
	</div>
    </div>

</div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>

